@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;900;1,100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matangi:wdth,wght@75..100,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');


:root {
  --background: #F9F5F2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #22223B;
  background-image: radial-gradient(circle at center, #2a2a4f, #22223B);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #F9F5F2;
  font-family: "Trebuchet MS", sans-serif;
}
